[config]
serverName=brhacsv015ana\W_ACCESS
user=sa
password=#w_access_Adm#
database=W_Access
# Servidor de Produção: w-access.unimedvs.com.br
# Servidor de homologação: ('catrdb/uni_rdb@172.22.0.197:1521/mv5trn') # Homologação
#WAccessAPIServer=w-access.unimedvs.com.br
WAccessAPIServer=localhost
WAccessAPIUser=WAccessAPI
WAccessAPIPassword=#WAccessAPI#
WAccessUtcOffset=-180
