<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<StiSerializer version="1.02" type="Net" application="StiReport">
  <Dictionary Ref="1" type="Dictionary" isKey="true">
    <BusinessObjects isList="true" count="0" />
    <Databases isList="true" count="2">
      <W_Access Ref="2" type="Stimulsoft.Report.Dictionary.StiSqlDatabase" isKey="true">
        <Alias>W_Access</Alias>
        <ConnectionStringEncrypted>9MDLyWFX+x1pezVsdQQlL8RWacthXXvFaUTV7GGE43vndHetTku7mO1b2YTlXKRew3jBaE5Wc5HjTSGAaUTk28BY9aFNUPOkRmmpzHzcbirCFM0r1gVamWxhodx8BGJn0TC1T8VKc810cLlMaMxlY9VUtQnVV9n57US5zEUY6Ub0cPWKaXvTpHRr7dxiVOMe0xy9K2IFS8V6</ConnectionStringEncrypted>
        <Key>4f49d2fde76b45e992753ffd2a17c17d</Key>
        <Name>W_Access</Name>
      </W_Access>
      <W_Access_Events Ref="3" type="Stimulsoft.Report.Dictionary.StiSqlDatabase" isKey="true">
        <Alias>W_Access_Events</Alias>
        <ConnectionStringEncrypted>9Hi9yc1nS5lwe6HsaQR3G8RW2SthTnrFb2jV+Pol4TfnOJFIS22TvGpb7dxkXGle3Hi3KE9Ne4XgTanEelz39/FWq0jFSxrN7W25fHKEbirDDPsraU0BbWxLpdxzJSVn3Hi1yU1dw81ie6H45JTgesTy9UtbStLxy00VnGNMoyfDMPMo10zz+WJL3FhFAWVG8wytAmFXW7xhWu2Y5Cxlew==</ConnectionStringEncrypted>
        <Key>2a1ed99678a144dab1e85e558481a578</Key>
        <Name>W_Access_Events</Name>
      </W_Access_Events>
    </Databases>
    <DataSources isList="true" count="1">
      <VisitHistory Ref="4" type="Stimulsoft.Report.Dictionary.StiSqlSource" isKey="true">
        <Alias>VisitHistory</Alias>
        <Columns isList="true" count="22">
          <value>ORIGINAL,OperName,OperName,OperName,System.String,b0f9a0203abf4d7887770b0809bfdef2</value>
          <value>ORIGINAL,VisAuxLst01,VisAuxLst01,VisAuxLst01,System.Int16,_x0032_13efdf8164d48c6ae40940c88db4ef5</value>
          <value>ORIGINAL,VisAuxLst02,VisAuxLst02,VisAuxLst02,System.Int16,_x0030_9e47da22ce94a14a3c55c8d59179fe3</value>
          <value>ORIGINAL,GMTOffset,GMTOffset,GMTOffset,System.Int16,_x0035_71a3b2bf4744acbb7e7d63831fe9ee8</value>
          <value>ORIGINAL,ContactFirstName,ContactFirstName,ContactFirstName,System.String,_x0036_d339a5ca5b44b2190ebb653ac782719</value>
          <value>ORIGINAL,VisitStart,VisitStart,VisitStart,System.DateTime,b33b71678b5441a0bd9baea4cf6f0133</value>
          <value>ORIGINAL,VisitEnd,VisitEnd,VisitEnd,System.DateTime,fa21ca930a2749ff9b6f71593c565183</value>
          <value>ORIGINAL,IdNumber,IdNumber,IdNumber,System.String,_x0036_9f6875d9dd749b9964d9e86842bf299</value>
          <value>ORIGINAL,FirstName,FirstName,FirstName,System.String,_x0036_a92c60508904d12ae270ff538292458</value>
          <value>ORIGINAL,DataLibera,DataLibera,DataLibera,System.String,bf25244e91b24078ae71831119200641</value>
          <value>DataFim,System.String</value>
          <value>HoraLibera,System.String</value>
          <value>HoraFim,System.String</value>
          <value>LeitoraEntrada,System.String</value>
          <value>HoraLeitoraEntrada,System.String</value>
          <value>LeitoraSaida,System.String</value>
          <value>HoraLeitoraSaida,System.String</value>
          <value>Tipo,System.String</value>
          <value>TotalAcompanhates,System.String</value>
          <value>DataLeitoraEntrada,System.String</value>
          <value>DataLeitoraSaida,System.String</value>
          <value>ServerDateTime,System.DateTime</value>
        </Columns>
        <CommandTimeout>30</CommandTimeout>
        <Dictionary isRef="1" />
        <Key>bca5fc8ec33f424ab1e301d303211a1c</Key>
        <Name>VisitHistory</Name>
        <NameInSource>W_Access_Events</NameInSource>
        <Parameters isList="true" count="7">
          <value>_x0040_lblBD_StartTime_StartDate,Today.AddDays_x0028_-30_x0029_,4,100</value>
          <value>_x0040_lblBD_EndTime_EndDate,Today,4,100</value>
          <value>_x0040_LoadParamsOnly,_x0031_,2,1</value>
          <value>_x0040_lstChkBD_CHID,_x0022_-1_x0022_,22,250</value>
          <value>_x0040_lstBDA_AuxLst07_1,_x002D_1,8,100</value>
          <value>_x0040_lblBD_Operator,_x0022__x0025__x0022_,22,50</value>
          <value>_x0040_lblBDV_ContactFirstName_1,_x0022__x0025__x0022_,22,250</value>
        </Parameters>
        <SqlCommand>DECLARE
@strQuery nvarchar(max),
@ParmDefinition nvarchar(max),
@_lblBD_StartTime_StartDate datetime,
@_lstBDA_AuxLst07_1 smallint,
@_lblBD_Operator varchar(50),
@_lblBDV_ContactFirstName_1 varchar(100),
@_lblBD_EndTime_EndDate datetime


SET @strQuery =	'select
	FORMAT(CONVERT(date,DATEADD(MI, VisitHistory.GMTOffset, VisitStart)), ''dd/MM/yyyy'') DataLibera,
	FORMAT(CONVERT(date,DATEADD(MI, VisitHistory.GMTOffset, VisitEnd)), ''dd/MM/yyyy'') DataFim,
	CONVERT(VARCHAR(08), VisitStart, 108) HoraLibera,
	CONVERT(VARCHAR(08), VisitEnd, 108) HoraFim,
	VisitHistory.OperName, 
	VisitHistory.FirstName,
	W_Access..CHMain.IdNumber,
	VisitHistory.ContactFirstName,
	tipo.StrLanguage2 AS Tipo,
	case
		when Events.ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 and SourceID in (119, 125, 126, 128) then SourceName
		else ''-''
	end as LeitoraEntrada,
	case
		when Events.ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 and SourceID in (119, 125, 126, 128) then (CONVERT(VARCHAR(08), Events.ServerDateTime, 108)) 
		else ''-''
	end as HoraLeitoraEntrada,
	case
		when Events.ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 and SourceID in (119, 125, 126, 128) then (FORMAT(CONVERT(date,DATEADD(MI, Events.GMTOffset, Events.ServerDateTime)), ''dd/MM/yyyy'')) 
		else ''-''
	end as DataLeitoraEntrada,
	case
		when Events.ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 and SourceID in (120, 123, 127, 129) then SourceName
		else ''-''
	end as LeitoraSaida,
	case
		when Events.ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 and SourceID in (120, 123, 127, 129) then (CONVERT(VARCHAR(08), Events.ServerDateTime, 108))
		else ''-''
	end as HoraLeitoraSaida,
	case
		when Events.ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 and SourceID in (120, 123, 127, 129) then (FORMAT(CONVERT(date,DATEADD(MI, Events.GMTOffset, Events.ServerDateTime)), ''dd/MM/yyyy''))
		else ''-''
	end as DataLeitoraSaida,
	Events.SourceName,
	events.ServerDateTime
from VisitHistory
join W_Access..CHMain on W_Access..CHMain.chid = VisitHistory.chid and W_Access..CHMain.CHType = 1
LEFT JOIN W_Access..CfgCHComboFields tipo ON VisitHistory.VisAuxLst02 = tipo.ComboIndex AND tipo.FieldID = ''lstBDV_VisAuxLst02'' AND tipo.CHType = CHMain.CHType
left join Events on Events.chid = VisitHistory.CHID and ServerDateTime between VisitStart and VisitEnd and EventHWID = 71 --and SourceID = 119
where VisitStart BETWEEN @_lblBD_StartTime_StartDate AND @_lblBD_EndTime_EndDate
'

IF @lstBDA_AuxLst07_1 &gt; -1
SET @strQuery = @strQuery + ' AND VisitHistory.VisAuxLst02 = @_lstBDA_AuxLst07_1 '

IF @lstChkBD_CHID &lt;&gt; '-1'
SET @strQuery = @strQuery + ' AND W_ACCESS..CHMain.CHID IN (' + @lstChkBD_CHID + ') '

IF @lblBD_Operator &lt;&gt; '%'
SET @strQuery = @strQuery + ' AND VisitHistory.OperName LIKE @_lblBD_Operator '

IF @lblBDV_ContactFirstName_1 &lt;&gt; '%'
SET @strQuery = @strQuery + ' AND Contact.FirstName LIKE @_lblBDV_ContactFirstName_1 '

SET @strQuery = @strQuery + ' ORDER BY VisitStart DESC '


SET @ParmDefinition = N'@_lblBD_StartTime_StartDate datetime,
						@_lstBDA_AuxLst07_1 smallint,
						@_lblBD_Operator varchar(50),
						@_lblBDV_ContactFirstName_1 varchar(100),
						@_lblBD_EndTime_EndDate datetime';

IF @LoadParamsOnly = 0
	EXECUTE sp_executesql @strQuery, @ParmDefinition,
						@_lblBD_StartTime_StartDate = @lblBD_StartTime_StartDate,
						@_lstBDA_AuxLst07_1 = @lstBDA_AuxLst07_1,
						@_lblBD_Operator = @lblBD_Operator,
						@_lblBDV_ContactFirstName_1 = @lblBDV_ContactFirstName_1,
						@_lblBD_EndTime_EndDate = @lblBD_EndTime_EndDate;
						
</SqlCommand>
      </VisitHistory>
    </DataSources>
    <Relations isList="true" count="0" />
    <Report isRef="0" />
    <Resources isList="true" count="0" />
    <Variables isList="true" count="8">
      <value>W-Access,ServerName,ServerName,,System.String,localhost,False,False,False,False</value>
      <value>W-Access,WAccessDBName,WAccessDBName,,System.String,W_Access,False,False,False,False</value>
      <value>W-Access,WAccessEventsDBName,WAccessEventsDBName,,System.String,W_Access_Events,False,False,False,False</value>
      <value>W-Access,ApplicationName,ApplicationName,,System.String,W-Access,False,False,False,False</value>
      <value>W-Access,ClientTimeZone,ClientTimeZone,,System.Int32,_x002D_180,False,False,False,False</value>
      <value>W-Access,OperName,OperName,,System.String,Invenzi,False,False,False,False</value>
      <value>W-Access,ProfileID,ProfileID,,System.Int32,_x0031_,False,False,False,False</value>
      <value>W-Access,LanguageID,LanguageID,,System.Int32,_x0032_,False,False,False,False</value>
    </Variables>
  </Dictionary>
  <EngineVersion>EngineV2</EngineVersion>
  <GlobalizationStrings isList="true" count="0" />
  <Key>2496cb842be74c618c583be874ee54ca</Key>
  <MetaTags isList="true" count="0" />
  <Pages isList="true" count="1">
    <Page1 Ref="5" type="Page" isKey="true">
      <Border>None;Black;2;Solid;False;4;Black</Border>
      <Brush>Transparent</Brush>
      <Components isList="true" count="3">
        <HeaderBand1 Ref="6" type="HeaderBand" isKey="true">
          <Brush>Transparent</Brush>
          <ClientRectangle>0,0.2,10.22,0.8</ClientRectangle>
          <Components isList="true" count="13">
            <Text25 Ref="7" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>1.1,0,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text25</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>N° Acompanhantes</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text25>
            <Text26 Ref="8" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.2,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text26</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>{CountIf(DataBand1,VisitHistory.Tipo == "Acompanhante")}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Totals</Type>
              <VertAlignment>Center</VertAlignment>
            </Text26>
            <Text27 Ref="9" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>1.1,0.2,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text27</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>N° Responsáveis</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text27>
            <Text29 Ref="10" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.2,0.2,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text29</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>{CountIf(DataBand1,VisitHistory.Tipo == "Responsável")}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Totals</Type>
              <VertAlignment>Center</VertAlignment>
            </Text29>
            <Text33 Ref="11" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.8,0,1.4,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text33</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>{((System.DateTime)VisitHistory.Parameters["@lblBD_StartTime_StartDate"].ParameterValue).AddMinutes(ClientTimeZone)}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text33>
            <Text35 Ref="12" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.2,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text35</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>Início</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text35>
            <Text36 Ref="13" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.2,0.2,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text36</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>Fim</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text36>
            <Text34 Ref="14" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.8,0.2,1.4,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text34</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>{((System.DateTime)VisitHistory.Parameters["@lblBD_EndTime_EndDate"].ParameterValue).AddMinutes(ClientTimeZone)}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text34>
            <Text28 Ref="15" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>1.1,0.4,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text28</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>N° Visitantes</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text28>
            <Text31 Ref="16" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>1.1,0.6,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text31</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>Total</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text31>
            <Text30 Ref="17" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.2,0.4,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text30</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>{CountIf(DataBand1,VisitHistory.Tipo == "Visitante")}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Totals</Type>
              <VertAlignment>Center</VertAlignment>
            </Text30>
            <Text32 Ref="18" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.2,0.6,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,8</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text32</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>{Count(DataBand1)}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Totals</Type>
              <VertAlignment>Center</VertAlignment>
            </Text32>
            <Text39 Ref="19" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.71,0,4.9,0.6</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,22,Bold</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text39</Name>
              <Page isRef="5" />
              <Parent isRef="6" />
              <Text>Histórico de Visitas</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text39>
          </Components>
          <Conditions isList="true" count="0" />
          <Expressions isList="true" count="0" />
          <Name>HeaderBand1</Name>
          <Page isRef="5" />
          <Parent isRef="5" />
          <PrintOn>OnlyFirstPage</PrintOn>
        </HeaderBand1>
        <GroupHeaderBand1 Ref="20" type="GroupHeaderBand" isKey="true">
          <Brush>[250:192:143]</Brush>
          <ClientRectangle>0,1.4,10.22,0.2</ClientRectangle>
          <Components isList="true" count="14">
            <Text2 Ref="21" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>0,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text2</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Início Visita</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text2>
            <Text3 Ref="22" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>1.1,0,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text3</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Operador</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text3>
            <Text4 Ref="23" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.2,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text4</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Data Ent.</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text4>
            <Text5 Ref="24" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.7,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text5</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Hora Ent.</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text5>
            <Text6 Ref="25" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>3.2,0,0.9,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text6</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Leitora Entrada</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text6>
            <Text7 Ref="26" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>4.7,0,0.8,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text7</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Leitora Saida</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text7>
            <Text8 Ref="27" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.8,0,1.4,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text8</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Nome Paciente</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text8>
            <Text9 Ref="28" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.2,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text9</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Tipo Visita</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text9>
            <Text10 Ref="29" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>7.6,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text10</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Documento</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text10>
            <Text11 Ref="30" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>6.5,0,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text11</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Nome Visitante</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text11>
            <Text23 Ref="31" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>4.1,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text23</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Fim da Visita</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text23>
            <Text1 Ref="32" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>6,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text1</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Hora Saida</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text1>
            <Text37 Ref="33" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>5.5,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text37</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Data Saida</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text37>
            <Text40 Ref="34" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>0.6,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,7</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text40</Name>
              <Page isRef="5" />
              <Parent isRef="20" />
              <Text>Hora Início</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text40>
          </Components>
          <Conditions isList="true" count="0" />
          <Expressions isList="true" count="0" />
          <Name>GroupHeaderBand1</Name>
          <Page isRef="5" />
          <Parent isRef="5" />
        </GroupHeaderBand1>
        <DataBand1 Ref="35" type="DataBand" isKey="true">
          <Brush>Transparent</Brush>
          <BusinessObjectGuid isNull="true" />
          <ClientRectangle>0,2,10.22,0.2</ClientRectangle>
          <Components isList="true" count="14">
            <Text12 Ref="36" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>0,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text12</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.DataLibera}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text12>
            <Text14 Ref="37" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>1.1,0,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text14</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.OperName}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text14>
            <Text15 Ref="38" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.2,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text15</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.DataLeitoraEntrada}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text15>
            <Text16 Ref="39" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>2.7,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text16</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.HoraLeitoraEntrada}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text16>
            <Text17 Ref="40" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>3.2,0,0.9,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text17</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.LeitoraEntrada}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text17>
            <Text18 Ref="41" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>4.7,0,0.8,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text18</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.LeitoraSaida}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text18>
            <Text19 Ref="42" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>6.5,0,1.1,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text19</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.FirstName}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text19>
            <Text20 Ref="43" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>7.6,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text20</Name>
              <NullValue>-</NullValue>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.IdNumber}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text20>
            <Text21 Ref="44" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.2,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text21</Name>
              <NullValue>-</NullValue>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.Tipo}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text21>
            <Text22 Ref="45" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>8.8,0,1.4,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text22</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.ContactFirstName}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text22>
            <Text24 Ref="46" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>4.1,0,0.6,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text24</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.DataFim}</Text>
              <TextBrush>Black</TextBrush>
              <Type>Expression</Type>
              <VertAlignment>Center</VertAlignment>
            </Text24>
            <Text13 Ref="47" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>6,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text13</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.HoraLeitoraSaida}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text13>
            <Text38 Ref="48" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>5.5,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text38</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.DataLeitoraSaida}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text38>
            <Text41 Ref="49" type="Text" isKey="true">
              <Brush>Transparent</Brush>
              <ClientRectangle>0.6,0,0.5,0.2</ClientRectangle>
              <Conditions isList="true" count="0" />
              <Expressions isList="true" count="0" />
              <Font>Arial,6</Font>
              <HorAlignment>Center</HorAlignment>
              <Margins>0,0,0,0</Margins>
              <Name>Text41</Name>
              <Page isRef="5" />
              <Parent isRef="35" />
              <Text>{VisitHistory.HoraLibera}</Text>
              <TextBrush>Black</TextBrush>
              <Type>DataColumn</Type>
              <VertAlignment>Center</VertAlignment>
            </Text41>
          </Components>
          <Conditions isList="true" count="0" />
          <DataRelationName isNull="true" />
          <DataSourceName>VisitHistory</DataSourceName>
          <Expressions isList="true" count="0" />
          <Filters isList="true" count="0" />
          <Name>DataBand1</Name>
          <Page isRef="5" />
          <Parent isRef="5" />
          <Sort isList="true" count="2">
            <value>DESC</value>
            <value>DataLibera</value>
          </Sort>
        </DataBand1>
      </Components>
      <Conditions isList="true" count="0" />
      <Expressions isList="true" count="0" />
      <Guid>0ad3cb7fcabd467988a001f251b4a761</Guid>
      <Margins>0.39,0.39,0.39,0.39</Margins>
      <Name>Page1</Name>
      <Orientation>Landscape</Orientation>
      <PageHeight>8.5</PageHeight>
      <PageWidth>11</PageWidth>
      <PaperSize>Letter</PaperSize>
      <Report isRef="0" />
    </Page1>
  </Pages>
  <ReferencedAssemblies isList="true" count="8">
    <value>System.Dll</value>
    <value>System.Drawing.Dll</value>
    <value>System.Windows.Forms.Dll</value>
    <value>System.Data.Dll</value>
    <value>System.Xml.Dll</value>
    <value>Stimulsoft.Controls.Dll</value>
    <value>Stimulsoft.Base.Dll</value>
    <value>Stimulsoft.Report.Dll</value>
  </ReferencedAssemblies>
  <ReportAlias>Report</ReportAlias>
  <ReportChanged>5/6/2022 2:35:16 PM</ReportChanged>
  <ReportCreated>5/5/2022 10:36:30 AM</ReportCreated>
  <ReportGuid>9c5792dc21a64fbcbbc989a0aba26254</ReportGuid>
  <ReportName>Report</ReportName>
  <ReportUnit>Inches</ReportUnit>
  <ReportVersion>2021.1.1.0</ReportVersion>
  <Script>using System;
using System.Drawing;
using System.Windows.Forms;
using System.Data;
using Stimulsoft.Controls;
using Stimulsoft.Base.Drawing;
using Stimulsoft.Report;
using Stimulsoft.Report.Dialogs;
using Stimulsoft.Report.Components;

namespace Reports
{
    public class Report : Stimulsoft.Report.StiReport
    {
        public Report()        {
            this.InitializeComponent();
        }

        #region StiReport Designer generated code - do not modify
		#endregion StiReport Designer generated code - do not modify
    }
}
</Script>
  <ScriptLanguage>CSharp</ScriptLanguage>
  <Styles isList="true" count="0" />
</StiSerializer>