<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python39\python.exe| &quot;C:\Program Files (x86)\W-Access Server\FlaskApp_Totem\wfastcgi.py&quot;" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
